.App {
  width: 500px;
  height: 600px;
  border: 2px solid red;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.Display {
  height: 100px;
  width: 500px;
  font-size: 80px;
  text-align: end;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type=number] {
   -moz-appearance: textfield;
}

.Button {
  height: 100px;
  width: 100px;
  font-size: 50px;
}